pip~=21.2.4
wheel~=0.37.0
setuptools~=58.2.0
hpack~=4.0.0
hyperframe~=6.0.1
h2~=4.1.0
beautifulsoup4~=4.10.0
soupsieve~=2.2.1
h11~=0.12.0
anyio~=3.3.4
sniffio~=1.2.0
arrow~=1.2.1
python-dateutil~=2.8.2
click~=8.0.3
certifi~=2021.10.8
idna~=3.3
rfc3986~=1.5.0
httpcore~=0.13.7
MarkupSafe~=2.0.1
httpx~=0.20.0
cookiecutter~=1.7.3
tomlkit~=0.7.2
pyfiglet~=0.8.post1
pydantic~=1.8.2
six~=1.16.0
requests~=2.26.0
uvloop~=0.16.0
asgiref~=3.4.1
fastapi~=0.68.2
starlette~=0.14.2
websockets~=10.0
loguru~=0.5.3
uvicorn~=0.15.0
pygtrie~=2.4.2
PyYAML~=6.0
httptools~=0.2.0
watchgod~=0.7
wcwidth~=0.2.5
colorama~=0.4.4
aiofiles~=0.7.0
Jinja2~=3.0.2
chardet~=4.0.0
poyo~=0.5.0
binaryornot~=0.4.4
nonebot2~=2.0.0a16
nonebot-adapter-cqhttp~=2.0.0a16
